# Database Configuration
DB_URL=jdbc:mysql://localhost:3306/wig-store?createDatabaseIfNotExist=true
DB_USERNAME=root
DB_PASSWORD=your_password

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here

# Brevo SMTP Configuration
MAIL_USERNAME=your_brevo_registered_email
MAIL_PASSWORD=your_brevo_smtp_api_key
MAIL_FROM=your_verified_sender_email
